<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NLW</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="icon" href="/images/logo-icon.png" />
  </head>

  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img class="animate-up" id="logo" src="/images/logo.svg" alt="Happy's Logo" />

          <div class="location animate-up">
            <strong>Donegal</strong>
            <p>Letterkenny</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Bring happiness to the world</h1>

          <section class="visit">
            <p class="animate-up">Visit orphanages and change many children's day</p>

            <a class="animate-up" href="/orphanages" title="Visit orphanages">
              <img src="/images/arrow.svg" alt="Go to map" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
